* { -webkit-user-select: none; }

html, body {
  margin: 0;
  overflow: hidden;
}

#phone {
  background: url('../images/chrome/phone.png') no-repeat center;
  background-size: 758px 1626px;
  height: 1136px;
  margin: -814px auto 0;
  padding: 238px 56px 254px 64px;
  position: relative;
  top: 50%;
  width: 640px;
}
body #phone #container {
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 100%;
}
#reset {
  cursor: pointer;
  height: 140px;
  left: 318px;
  position: absolute;
  top: 1412px;
  width: 140px;
}

@media only screen and (max-device-width: 320px) {
  body #phone {
    background: none;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
  }
  body #phone #container { overflow-y: visible; }
  body #reset { display: none; }
}
